section.section-inset-1
  .container
    h6= elements.typography.h_el_10
    .row.text-sm-left.offset-5
      .col-xs-12.col-sm-6.col-lg-4
        .media.thumbnail-mod-2
          .media-left
            span.icon.icon-darkest.icon-sm.fa-star
          .media-body
            h6.text-transform-none= elements.typography.il_h_el_1
            p= elements.typography.il_p_el_1
      .col-xs-12.col-sm-6.col-lg-4
        .media.thumbnail-mod-2
          .media-left
            span.icon.icon-darkest.icon-sm.fa-users
          .media-body
            h6.text-transform-none= elements.typography.il_h_el_2
            p= elements.typography.il_p_el_2
      .col-xs-12.col-sm-6.col-lg-4
        .media.thumbnail-mod-2
          .media-left
            span.icon.icon-darkest.icon-sm.fa-exclamation-circle
          .media-body
            h6.text-transform-none= elements.typography.il_h_el_3
            p= elements.typography.il_p_el_3