//- Post Modern
//- aClass - additional class
//- url - expanded post link
//- type - icon class to describe the post type
//- date - date of publishment
//- title - post title
//- tags - array of {link}
//- media - {media} object
//- authorName - author name
//- authorImg - author photo

include ../elements/_ui-thumbnail-classic
include ../elements/_ui-carousel-gallery-classic
include ../elements/_ui-video-embed
include ../elements/_ui-soundcloud-player-classic

mixin post-modern-timeline(aClass, url, type,date, title, tags, media, authorName, authorImg)
  // Post Modern
  article.post.post-modern.post-modern-timeline(class=aClass)
    // Post media
    if media
      header.post-media
        case media.type
          when "gallery"
            +carousel-gallery-classic(media.images)
          when "soundcloud"
            .post-inset
              +soundcloud-player-classic(media)
          when "video"
            +video-embed(media)
          when "thumbnail"
            img.img-responsive.img-cover(width=media.thumb.width, height=media.thumb.height, src=media.thumb.src, alt=media.thumb.alt)
          default
            = ""

    // Post content
    section.post-content.text-left
      .post-meta.pull-sm-right
        span.text-middle.icon-sm.mdi.mdi-clock
        time.text-middle.text-bold.text-primary(datetime="2016-01-01")= date
      ul.list-inline.offset-top-13.offset-sm-top-0
        if tags
          li.text-middle
            .post-tags.group-lg.group-tags
              each tag in tags
                a.btn-link.btn-link-primary.btn-link-variant-1(href= tag.href)= tag.title
        li.text-middle
          .icon.icon-sm.text-base.text-middle(class=type)

      // Post Title
      .post-title
        h6.text-uppercase.offset-top-24
          a(href=url).text-white= title

      // Post Body
      .post-body.offset-top-20
        block

      .post-author
        .post-author-img
          img(width=authorImg.width, height=authorImg.height, src=authorImg.src, alt=authorImg.alt)
        .post-author-name.text-middle
          = authorName
