//- Post Widget
//- url - expanded post link
//- date - date of publishment
//- title - post title
//- image - post image

mixin widget-post(url, title, author, date, tags, src, text_body, comments, aClass)
  // Post Widget
  article.post.post-list.text-center.text-sm-left(class= aClass)
    .post-title
      h4: a(href=url).text-dark= title
    ul.list-inline.post-meta
      li
        span.text-gray.text-middle by &nbsp;
        a(href=url).text-base.text-middle= author
      li
        time.text-middle.text-gray(datetime="2016-01-01")= date
      if tags
        li
          each tag, i in tags
            a.text-gray.text-middle(href= url)= tag.title
            - if (i !== (tags.length - 1))
              = ", "
    .post-image
      +jpg(src,'img-responsive img-fullwidth')
      span.icon.mdi.mdi-star-outline
    .post-body
      p= text_body
    .post-footer.display-flex-xs.reverse-xs.justify-between.align-center
      .post-comments
        span.icon.text-primary.text-middle.fa-comment &nbsp;
        a(href="post-default.html").text-middle=comments
      a(href=url).btn.btn-primary.btn-md.text-white.offset-top-15.offset-xs-top-0 Read more

  hr.hr-gray.hr-fullwidth.offset-top-50